components/jaggery-core/org.jaggeryjs.jaggery.app.mgt.stub/src/main/resources/JaggeryAppAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://mgt.app.jaggery.jaggeryjs.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax21="http://mgt.webapp.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://mgt.app.jaggery.jaggeryjs.org">
    <wsdl:documentation>JaggeryAppAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://mgt.webapp.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://mgt.webapp.carbon.wso2.org/xsd"/>
            <xs:element name="uploadWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappUploadDataList" nillable="true"
                                    type="ax21:WebappUploadData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWebappResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopAllWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="startWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startAllWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="reloadWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reloadAllWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStoppedWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStoppedWebappResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebappMetadata"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStartedWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStartedWebappResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebappMetadata"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedWebappsSummary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappSearchString" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="webappState" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedWebappsSummaryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebappsWrapper"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedFaultyWebappsSummary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappSearchString" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedFaultyWebappsSummaryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebappsWrapper"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSessions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSessionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SessionsWrapper"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="expireSessionsInWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="expireSessionsInWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="maxSessionLifetimeMillis" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="expireSessionsInAllWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="expireSessions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="sessionIDs" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="expireAllSessions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadWarFileHandler">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadWarFileHandlerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStoppedWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStartedWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFaultyWebapps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappFileNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllStoppedWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllStartedWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllFaultyWebapps">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://mgt.webapp.carbon.wso2.org/xsd">
            <xs:complexType name="WebappUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WebappMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultException" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faulty" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="lastModifiedTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="running" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="started" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statistics" nillable="true" type="ax21:WebappStatistics"/>
                    <xs:element minOccurs="0" name="webappFile" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WebappStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeSessions" type="xs:int"/>
                    <xs:element minOccurs="0" name="avgSessionLifetime" type="xs:int"/>
                    <xs:element minOccurs="0" name="expiredSessions" type="xs:long"/>
                    <xs:element minOccurs="0" name="maxActiveSessions" type="xs:int"/>
                    <xs:element minOccurs="0" name="maxSessionInactivityInterval" type="xs:int"/>
                    <xs:element minOccurs="0" name="maxSessionLifetime" type="xs:int"/>
                    <xs:element minOccurs="0" name="rejectedSessions" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WebappsWrapper">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="httpPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="httpsPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfCorrectWebapps" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfFaultyWebapps" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="webapps" nillable="true"
                                type="ax21:WebappMetadata"/>
                    <xs:element minOccurs="0" name="webappsDir" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SessionsWrapper">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfActiveSessions" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sessions" nillable="true"
                                type="ax21:SessionMetadata"/>
                    <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SessionMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="creationTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastAccessedTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="maxInactiveInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="stopWebappsRequest">
        <wsdl:part name="parameters" element="ns1:stopWebapps"/>
    </wsdl:message>
    <wsdl:message name="expireAllSessionsRequest">
        <wsdl:part name="parameters" element="ns1:expireAllSessions"/>
    </wsdl:message>
    <wsdl:message name="startWebappsRequest">
        <wsdl:part name="parameters" element="ns1:startWebapps"/>
    </wsdl:message>
    <wsdl:message name="downloadWarFileHandlerRequest">
        <wsdl:part name="parameters" element="ns1:downloadWarFileHandler"/>
    </wsdl:message>
    <wsdl:message name="downloadWarFileHandlerResponse">
        <wsdl:part name="parameters" element="ns1:downloadWarFileHandlerResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteStoppedWebappsRequest">
        <wsdl:part name="parameters" element="ns1:deleteStoppedWebapps"/>
    </wsdl:message>
    <wsdl:message name="getPagedWebappsSummaryRequest">
        <wsdl:part name="parameters" element="ns1:getPagedWebappsSummary"/>
    </wsdl:message>
    <wsdl:message name="getPagedWebappsSummaryResponse">
        <wsdl:part name="parameters" element="ns1:getPagedWebappsSummaryResponse"/>
    </wsdl:message>
    <wsdl:message name="expireSessionsInWebappsRequest">
        <wsdl:part name="parameters" element="ns1:expireSessionsInWebapps"/>
    </wsdl:message>
    <wsdl:message name="deleteAllFaultyWebappsRequest">
        <wsdl:part name="parameters" element="ns1:deleteAllFaultyWebapps"/>
    </wsdl:message>
    <wsdl:message name="getPagedFaultyWebappsSummaryRequest">
        <wsdl:part name="parameters" element="ns1:getPagedFaultyWebappsSummary"/>
    </wsdl:message>
    <wsdl:message name="getPagedFaultyWebappsSummaryResponse">
        <wsdl:part name="parameters" element="ns1:getPagedFaultyWebappsSummaryResponse"/>
    </wsdl:message>
    <wsdl:message name="getStartedWebappRequest">
        <wsdl:part name="parameters" element="ns1:getStartedWebapp"/>
    </wsdl:message>
    <wsdl:message name="getStartedWebappResponse">
        <wsdl:part name="parameters" element="ns1:getStartedWebappResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAllStartedWebappsRequest">
        <wsdl:part name="parameters" element="ns1:deleteAllStartedWebapps"/>
    </wsdl:message>
    <wsdl:message name="expireSessionsRequest">
        <wsdl:part name="parameters" element="ns1:expireSessions"/>
    </wsdl:message>
    <wsdl:message name="expireSessionsInAllWebappsRequest">
        <wsdl:part name="parameters" element="ns1:expireSessionsInAllWebapps"/>
    </wsdl:message>
    <wsdl:message name="expireSessionsInWebappRequest">
        <wsdl:part name="parameters" element="ns1:expireSessionsInWebapp"/>
    </wsdl:message>
    <wsdl:message name="stopAllWebappsRequest">
        <wsdl:part name="parameters" element="ns1:stopAllWebapps"/>
    </wsdl:message>
    <wsdl:message name="deleteAllStoppedWebappsRequest">
        <wsdl:part name="parameters" element="ns1:deleteAllStoppedWebapps"/>
    </wsdl:message>
    <wsdl:message name="getActiveSessionsRequest">
        <wsdl:part name="parameters" element="ns1:getActiveSessions"/>
    </wsdl:message>
    <wsdl:message name="getActiveSessionsResponse">
        <wsdl:part name="parameters" element="ns1:getActiveSessionsResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteFaultyWebappsRequest">
        <wsdl:part name="parameters" element="ns1:deleteFaultyWebapps"/>
    </wsdl:message>
    <wsdl:message name="getStoppedWebappRequest">
        <wsdl:part name="parameters" element="ns1:getStoppedWebapp"/>
    </wsdl:message>
    <wsdl:message name="getStoppedWebappResponse">
        <wsdl:part name="parameters" element="ns1:getStoppedWebappResponse"/>
    </wsdl:message>
    <wsdl:message name="startAllWebappsRequest">
        <wsdl:part name="parameters" element="ns1:startAllWebapps"/>
    </wsdl:message>
    <wsdl:message name="deleteWebappRequest">
        <wsdl:part name="parameters" element="ns1:deleteWebapp"/>
    </wsdl:message>
    <wsdl:message name="deleteStartedWebappsRequest">
        <wsdl:part name="parameters" element="ns1:deleteStartedWebapps"/>
    </wsdl:message>
    <wsdl:message name="uploadWebappRequest">
        <wsdl:part name="parameters" element="ns1:uploadWebapp"/>
    </wsdl:message>
    <wsdl:message name="uploadWebappResponse">
        <wsdl:part name="parameters" element="ns1:uploadWebappResponse"/>
    </wsdl:message>
    <wsdl:message name="reloadWebappsRequest">
        <wsdl:part name="parameters" element="ns1:reloadWebapps"/>
    </wsdl:message>
    <wsdl:message name="reloadAllWebappsRequest">
        <wsdl:part name="parameters" element="ns1:reloadAllWebapps"/>
    </wsdl:message>
    <wsdl:portType name="JaggeryAppAdminPortType">
        <wsdl:operation name="stopWebapps">
            <wsdl:input message="tns:stopWebappsRequest" wsaw:Action="urn:stopWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="expireAllSessions">
            <wsdl:input message="tns:expireAllSessionsRequest" wsaw:Action="urn:expireAllSessions"/>
        </wsdl:operation>
        <wsdl:operation name="startWebapps">
            <wsdl:input message="tns:startWebappsRequest" wsaw:Action="urn:startWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="downloadWarFileHandler">
            <wsdl:input message="tns:downloadWarFileHandlerRequest" wsaw:Action="urn:downloadWarFileHandler"/>
            <wsdl:output message="tns:downloadWarFileHandlerResponse" wsaw:Action="urn:downloadWarFileHandlerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteStoppedWebapps">
            <wsdl:input message="tns:deleteStoppedWebappsRequest" wsaw:Action="urn:deleteStoppedWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="getPagedWebappsSummary">
            <wsdl:input message="tns:getPagedWebappsSummaryRequest" wsaw:Action="urn:getPagedWebappsSummary"/>
            <wsdl:output message="tns:getPagedWebappsSummaryResponse" wsaw:Action="urn:getPagedWebappsSummaryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapps">
            <wsdl:input message="tns:expireSessionsInWebappsRequest" wsaw:Action="urn:expireSessionsInWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFaultyWebapps">
            <wsdl:input message="tns:deleteAllFaultyWebappsRequest" wsaw:Action="urn:deleteAllFaultyWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="getPagedFaultyWebappsSummary">
            <wsdl:input message="tns:getPagedFaultyWebappsSummaryRequest"
                        wsaw:Action="urn:getPagedFaultyWebappsSummary"/>
            <wsdl:output message="tns:getPagedFaultyWebappsSummaryResponse"
                         wsaw:Action="urn:getPagedFaultyWebappsSummaryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStartedWebapp">
            <wsdl:input message="tns:getStartedWebappRequest" wsaw:Action="urn:getStartedWebapp"/>
            <wsdl:output message="tns:getStartedWebappResponse" wsaw:Action="urn:getStartedWebappResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStartedWebapps">
            <wsdl:input message="tns:deleteAllStartedWebappsRequest" wsaw:Action="urn:deleteAllStartedWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="expireSessions">
            <wsdl:input message="tns:expireSessionsRequest" wsaw:Action="urn:expireSessions"/>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInAllWebapps">
            <wsdl:input message="tns:expireSessionsInAllWebappsRequest" wsaw:Action="urn:expireSessionsInAllWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapp">
            <wsdl:input message="tns:expireSessionsInWebappRequest" wsaw:Action="urn:expireSessionsInWebapp"/>
        </wsdl:operation>
        <wsdl:operation name="stopAllWebapps">
            <wsdl:input message="tns:stopAllWebappsRequest" wsaw:Action="urn:stopAllWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStoppedWebapps">
            <wsdl:input message="tns:deleteAllStoppedWebappsRequest" wsaw:Action="urn:deleteAllStoppedWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveSessions">
            <wsdl:input message="tns:getActiveSessionsRequest" wsaw:Action="urn:getActiveSessions"/>
            <wsdl:output message="tns:getActiveSessionsResponse" wsaw:Action="urn:getActiveSessionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteFaultyWebapps">
            <wsdl:input message="tns:deleteFaultyWebappsRequest" wsaw:Action="urn:deleteFaultyWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="getStoppedWebapp">
            <wsdl:input message="tns:getStoppedWebappRequest" wsaw:Action="urn:getStoppedWebapp"/>
            <wsdl:output message="tns:getStoppedWebappResponse" wsaw:Action="urn:getStoppedWebappResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startAllWebapps">
            <wsdl:input message="tns:startAllWebappsRequest" wsaw:Action="urn:startAllWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="deleteWebapp">
            <wsdl:input message="tns:deleteWebappRequest" wsaw:Action="urn:deleteWebapp"/>
        </wsdl:operation>
        <wsdl:operation name="deleteStartedWebapps">
            <wsdl:input message="tns:deleteStartedWebappsRequest" wsaw:Action="urn:deleteStartedWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <wsdl:input message="tns:uploadWebappRequest" wsaw:Action="urn:uploadWebapp"/>
            <wsdl:output message="tns:uploadWebappResponse" wsaw:Action="urn:uploadWebappResponse"/>
        </wsdl:operation>
        <wsdl:operation name="reloadWebapps">
            <wsdl:input message="tns:reloadWebappsRequest" wsaw:Action="urn:reloadWebapps"/>
        </wsdl:operation>
        <wsdl:operation name="reloadAllWebapps">
            <wsdl:input message="tns:reloadAllWebappsRequest" wsaw:Action="urn:reloadAllWebapps"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JaggeryAppAdminSoap11Binding" type="tns:JaggeryAppAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="stopWebapps">
            <soap:operation soapAction="urn:stopWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireAllSessions">
            <soap:operation soapAction="urn:expireAllSessions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startWebapps">
            <soap:operation soapAction="urn:startWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadWarFileHandler">
            <soap:operation soapAction="urn:downloadWarFileHandler" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPagedWebappsSummary">
            <soap:operation soapAction="urn:getPagedWebappsSummary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStoppedWebapps">
            <soap:operation soapAction="urn:deleteStoppedWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapps">
            <soap:operation soapAction="urn:expireSessionsInWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFaultyWebapps">
            <soap:operation soapAction="urn:deleteAllFaultyWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPagedFaultyWebappsSummary">
            <soap:operation soapAction="urn:getPagedFaultyWebappsSummary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStartedWebapp">
            <soap:operation soapAction="urn:getStartedWebapp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStartedWebapps">
            <soap:operation soapAction="urn:deleteAllStartedWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInAllWebapps">
            <soap:operation soapAction="urn:expireSessionsInAllWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessions">
            <soap:operation soapAction="urn:expireSessions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapp">
            <soap:operation soapAction="urn:expireSessionsInWebapp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="stopAllWebapps">
            <soap:operation soapAction="urn:stopAllWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getActiveSessions">
            <soap:operation soapAction="urn:getActiveSessions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStoppedWebapps">
            <soap:operation soapAction="urn:deleteAllStoppedWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteFaultyWebapps">
            <soap:operation soapAction="urn:deleteFaultyWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getStoppedWebapp">
            <soap:operation soapAction="urn:getStoppedWebapp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startAllWebapps">
            <soap:operation soapAction="urn:startAllWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <soap:operation soapAction="urn:uploadWebapp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStartedWebapps">
            <soap:operation soapAction="urn:deleteStartedWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="reloadWebapps">
            <soap:operation soapAction="urn:reloadWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteWebapp">
            <soap:operation soapAction="urn:deleteWebapp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="reloadAllWebapps">
            <soap:operation soapAction="urn:reloadAllWebapps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JaggeryAppAdminSoap12Binding" type="tns:JaggeryAppAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="stopWebapps">
            <soap12:operation soapAction="urn:stopWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireAllSessions">
            <soap12:operation soapAction="urn:expireAllSessions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startWebapps">
            <soap12:operation soapAction="urn:startWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadWarFileHandler">
            <soap12:operation soapAction="urn:downloadWarFileHandler" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPagedWebappsSummary">
            <soap12:operation soapAction="urn:getPagedWebappsSummary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStoppedWebapps">
            <soap12:operation soapAction="urn:deleteStoppedWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapps">
            <soap12:operation soapAction="urn:expireSessionsInWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFaultyWebapps">
            <soap12:operation soapAction="urn:deleteAllFaultyWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPagedFaultyWebappsSummary">
            <soap12:operation soapAction="urn:getPagedFaultyWebappsSummary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStartedWebapp">
            <soap12:operation soapAction="urn:getStartedWebapp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStartedWebapps">
            <soap12:operation soapAction="urn:deleteAllStartedWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInAllWebapps">
            <soap12:operation soapAction="urn:expireSessionsInAllWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessions">
            <soap12:operation soapAction="urn:expireSessions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapp">
            <soap12:operation soapAction="urn:expireSessionsInWebapp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="stopAllWebapps">
            <soap12:operation soapAction="urn:stopAllWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getActiveSessions">
            <soap12:operation soapAction="urn:getActiveSessions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStoppedWebapps">
            <soap12:operation soapAction="urn:deleteAllStoppedWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteFaultyWebapps">
            <soap12:operation soapAction="urn:deleteFaultyWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getStoppedWebapp">
            <soap12:operation soapAction="urn:getStoppedWebapp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startAllWebapps">
            <soap12:operation soapAction="urn:startAllWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <soap12:operation soapAction="urn:uploadWebapp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStartedWebapps">
            <soap12:operation soapAction="urn:deleteStartedWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="reloadWebapps">
            <soap12:operation soapAction="urn:reloadWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteWebapp">
            <soap12:operation soapAction="urn:deleteWebapp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="reloadAllWebapps">
            <soap12:operation soapAction="urn:reloadAllWebapps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JaggeryAppAdminHttpBinding" type="tns:JaggeryAppAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="stopWebapps">
            <http:operation location="stopWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireAllSessions">
            <http:operation location="expireAllSessions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startWebapps">
            <http:operation location="startWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadWarFileHandler">
            <http:operation location="downloadWarFileHandler"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPagedWebappsSummary">
            <http:operation location="getPagedWebappsSummary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStoppedWebapps">
            <http:operation location="deleteStoppedWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapps">
            <http:operation location="expireSessionsInWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFaultyWebapps">
            <http:operation location="deleteAllFaultyWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPagedFaultyWebappsSummary">
            <http:operation location="getPagedFaultyWebappsSummary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStartedWebapp">
            <http:operation location="getStartedWebapp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStartedWebapps">
            <http:operation location="deleteAllStartedWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInAllWebapps">
            <http:operation location="expireSessionsInAllWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessions">
            <http:operation location="expireSessions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="expireSessionsInWebapp">
            <http:operation location="expireSessionsInWebapp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="stopAllWebapps">
            <http:operation location="stopAllWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getActiveSessions">
            <http:operation location="getActiveSessions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllStoppedWebapps">
            <http:operation location="deleteAllStoppedWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteFaultyWebapps">
            <http:operation location="deleteFaultyWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getStoppedWebapp">
            <http:operation location="getStoppedWebapp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startAllWebapps">
            <http:operation location="startAllWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <http:operation location="uploadWebapp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStartedWebapps">
            <http:operation location="deleteStartedWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="reloadWebapps">
            <http:operation location="reloadWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteWebapp">
            <http:operation location="deleteWebapp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="reloadAllWebapps">
            <http:operation location="reloadAllWebapps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JaggeryAppAdmin">
        <wsdl:port name="JaggeryAppAdminHttpsSoap11Endpoint" binding="tns:JaggeryAppAdminSoap11Binding">
            <soap:address
                    location="https://192.168.219.1:9443/admin/services/JaggeryAppAdmin.JaggeryAppAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JaggeryAppAdminHttpsSoap12Endpoint" binding="tns:JaggeryAppAdminSoap12Binding">
            <soap12:address
                    location="https://192.168.219.1:9443/admin/services/JaggeryAppAdmin.JaggeryAppAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JaggeryAppAdminHttpsEndpoint" binding="tns:JaggeryAppAdminHttpBinding">
            <http:address
                    location="https://192.168.219.1:9443/admin/services/JaggeryAppAdmin.JaggeryAppAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>