components/jaggery-core/org.jaggeryjs.jaggery.app.mgt.stub/src/main/resources/JaggeryAppAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://mgt.app.jaggery.jaggeryjs.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://mgt.webapp.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.app.jaggery.jaggeryjs.org">
    <wsdl:documentation>JaggeryAppAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax24="http://mgt.webapp.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://mgt.webapp.carbon.wso2.org/xsd" />
            <xs:element name="uploadWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="webappUploadDataList" nillable="true" type="ax23:WebappUploadData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWebappResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.webapp.carbon.wso2.org/xsd">
            <xs:complexType name="WebappUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadWebappRequest">
        <wsdl:part name="parameters" element="ns1:uploadWebapp" />
    </wsdl:message>
    <wsdl:message name="uploadWebappResponse">
        <wsdl:part name="parameters" element="ns1:uploadWebappResponse" />
    </wsdl:message>
    <wsdl:portType name="JaggeryAppAdminPortType">
        <wsdl:operation name="uploadWebapp">
            <wsdl:input message="tns:uploadWebappRequest" wsaw:Action="urn:uploadWebapp" />
            <wsdl:output message="tns:uploadWebappResponse" wsaw:Action="urn:uploadWebappResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JaggeryAppAdminSoap11Binding" type="tns:JaggeryAppAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadWebapp">
            <soap:operation soapAction="urn:uploadWebapp" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JaggeryAppAdminSoap12Binding" type="tns:JaggeryAppAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadWebapp">
            <soap12:operation soapAction="urn:uploadWebapp" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JaggeryAppAdminHttpBinding" type="tns:JaggeryAppAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="uploadWebapp">
            <http:operation location="uploadWebapp" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JaggeryAppAdmin">
        <wsdl:port name="JaggeryAppAdminHttpsSoap11Endpoint" binding="tns:JaggeryAppAdminSoap11Binding">
            <soap:address location="https://172.16.65.1:9443/services/JaggeryAppAdmin.JaggeryAppAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="JaggeryAppAdminHttpsSoap12Endpoint" binding="tns:JaggeryAppAdminSoap12Binding">
            <soap12:address location="https://172.16.65.1:9443/services/JaggeryAppAdmin.JaggeryAppAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="JaggeryAppAdminHttpsEndpoint" binding="tns:JaggeryAppAdminHttpBinding">
            <http:address location="https://172.16.65.1:9443/services/JaggeryAppAdmin.JaggeryAppAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>